/* So the HTML5 structural tags work in older browsers */
article, aside, figure, footer, header, nav, section {
    display: block;
    background-color: black;
}
	body {
					margin: 0px;
					padding: 0px;
					font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
					background-color: #000;
					color: #bbbbbb;
				}
				
				a:visited, a:active, a:link {
				text-decoration: none;
				color: #cecece;
				}
				a:hover {
				text-decoration: underline;
				color: #dfdfdf;
				}
				
				#container {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0px;
				top: 0px;
				z-index: -1;
				}
				
				#info {
				width: 400px;
				margin-top:120px;
				margin-left:auto;
				margin-right:auto;
				background-color: rgba(180, 180, 180, 0.2);
				padding: 60px;
				}
				
				#info h3 {
				font-size: 28px;
				font-weight: lighter;
				line-height: 36px;
				text-shadow: rgba(0, 0, 0, 1) 0px 1px 0px;
				}
				.bigText {
				font-size: 16px;
				line-height: 24px;	}
				
				#instructions h3{
				margin-top: 50px;
				margin-left: 400px;
				}
				
				#instructions p {
				margin:50px;
				
				#instructions a {
				margin-left: 500 px;
				
				}
}